.homepage-component{
    text-align: center;
    background-image: url('/src/images/background-image.jpg');
    background-position: center;
    background-size: cover;
    color: #ffffff;
    padding-top: 450px;
}

.travel-text{
    font-size: 68px;
    font-weight: 800;
}

.travel-details{
    font-size: 24px;
    font-weight: 400;
}

.button{
    color:#ffffff;
    width: 124px;
    height:42px;
    font-size: 20px;
    font-weight: 800;
    border-color: #ffffff;
    border-radius: 2px solid;
    background-color: transparent;
    

}